<ion-view title="Find Nearby Doctors">
  <ion-content padding="true" class="has-header">
    <form ng-submit="searchDoctors(query)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Location</span>
          <input placeholder="e.g. ca-berkeley" ng-model="query.location" type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Specialty</span>
          <input ng-model="query.specialty" placeholder="e.g. pediatrician (optional)" type="text">
        </label>
      </div>
      <button class="button button-positive  button-block">Search for Doctors</button>
    </form>

    <div class="list">
      <a class="item item-avatar" href="#" ng-repeat="doctor in results">
        <img src="{{ doctor.image }}">
        <h2>{{ doctor.title }}</h2>
        <p>
          {{ doctor.specialty }}, Rating: {{ doctor.rating }} 
        </p>
      </a>
    </div>
  </ion-content>
</ion-view>